{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<!--Start code-->
<div class="row">
    <div class="col-12 pb-1">
        <!--SECTION START-->
        <section class="row">
            <!--Start slider news-->
            <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                <div id="featured" class="carousel slide carousel" data-ride="carousel">
                    <!--dots navigate-->
                    <ol class="carousel-indicators top-indicator">
                        <li data-target="#featured" data-slide-to="0" class="active"></li>
                        <li data-target="#featured" data-slide-to="1"></li>
                        <li data-target="#featured" data-slide-to="2"></li>
                        <li data-target="#featured" data-slide-to="3"></li>
                    </ol>
                    
                    <!--carousel inner-->
                    <div class="carousel-inner">
                        <!--Item slider-->
                        <div class="carousel-item active">
                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_left-cover-1 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid w-100"
                                                 src="https://bootstrap.news/source/img1.jpg"
                                                 alt="Bootstrap news template">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h3 post-title text-white my-1">Bootstrap 4 template news portal magazine perfect for news site</h2>
                                        </a>
                                        <!-- meta title -->
                                        <div class="news-meta">
                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                            <span class="news-date">Oct 22, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Item slider-->
                        <div class="carousel-item">
                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_left-cover-1 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid w-100"
                                                 src="https://bootstrap.news/source/img2.jpg"
                                                 alt="Bootstrap news theme">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h3 post-title text-white my-1">Walmart shares up 10% on online sales lift</h2>
                                        </a>
                                        <!-- meta title -->
                                        <div class="news-meta">
                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                            <span class="news-date">Oct 22, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Item slider-->
                        <div class="carousel-item">
                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_left-cover-1 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid w-100"
                                                 src="https://bootstrap.news/source/img3.jpg"
                                                 alt="Bootstrap blog template">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h3 post-title text-white my-1">Bank chief warns on Brexit staff moves to other company</h2>
                                        </a>
                                        <!-- meta title -->
                                        <div class="news-meta">
                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                            <span class="news-date">Oct 22, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Item slider-->
                        <div class="carousel-item">
                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_left-cover-1 image-wrapper">
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <img class="img-fluid w-100"
                                                 src="https://bootstrap.news/source/img4.jpg"
                                                 alt="Bootstrap portal template">
                                        </a>
                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                        <!--title-->
                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                            <h2 class="h3 post-title text-white my-1">The world's first floating farm making waves in Rotterdam</h2>
                                        </a>
                                        <!-- meta title -->
                                        <div class="news-meta">
                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                            <span class="news-date">Oct 22, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end item slider-->
                    </div>
                    <!--end carousel inner-->
                </div>
                
                <!--navigation-->
                <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End slider news-->
            
            <!--Start box news-->
            <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                <div class="row">
                    <!--news box-->
                    <div class="col-6 pb-1 pt-0 pr-1">
                        <div class="card border-0 rounded-0 text-white overflow zoom">
                            <div class="position-relative">
                                <!--thumbnail img-->
                                <div class="ratio_right-cover-2 image-wrapper">
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <img class="img-fluid"
                                             src="https://bootstrap.news/source/img5.jpg"
                                             alt="simple blog template bootstrap">
                                    </a>
                                </div>
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                    <!-- category -->
                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>
                                    
                                    <!--title-->
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--news box-->
                    <div class="col-6 pb-1 pl-1 pt-0">
                        <div class="card border-0 rounded-0 text-white overflow zoom">
                            <div class="position-relative">
                                <!--thumbnail img-->
                                <div class="ratio_right-cover-2 image-wrapper">
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <img class="img-fluid"
                                             src="https://bootstrap.news/source/img6.jpg"
                                             alt="bootstrap templates for blog">
                                    </a>
                                </div>
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                    <!-- category -->
                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Motocross</a>
                                    <!--title-->
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <h2 class="h5 text-white my-1">Three myths about Florida elections recount</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--news box-->
                    <div class="col-6 pb-1 pr-1 pt-1">
                        <div class="card border-0 rounded-0 text-white overflow zoom">
                            <div class="position-relative">
                                <!--thumbnail img-->
                                <div class="ratio_right-cover-2 image-wrapper">
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <img class="img-fluid"
                                             src="https://bootstrap.news/source/img7.jpg"
                                             alt="bootstrap blog wordpress theme">
                                    </a>
                                </div>
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                    <!-- category -->
                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Fitness</a>
                                    <!--title-->
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <h2 class="h5 text-white my-1">Finding Empowerment in Two Wheels and a Helmet</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--news box-->
                    <div class="col-6 pb-1 pl-1 pt-1">
                        <div class="card border-0 rounded-0 text-white overflow zoom">
                            <div class="position-relative">
                                <!--thumbnail img-->
                                <div class="ratio_right-cover-2 image-wrapper">
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <img class="img-fluid"
                                             src="https://bootstrap.news/source/img8.jpg"
                                             alt="blog website templates bootstrap">
                                    </a>
                                </div>
                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                    <!-- category -->
                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Adventure</a>
                                    <!--title-->
                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                        <h2 class="h5 text-white my-1">Ditch receipts and four other tips to be a shopper</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end news box-->
                </div>
            </div>
            <!--End box news-->
        </section>
        <!--END SECTION-->
    </div>
</div>
<!--end code-->

<div class="row">
    <!-- Inicio coluna 1 -->
    <div class="col-lg-8">
        {% for artigo in artigos %}
            <div class="media mb-3">
                <img src="{{ asset('imagens/artigos/' ~ artigo.imagem) }}" class="img-thumbnail mr-3" alt="..." width="120">
                <div class="media-body">
                    <span class="float-right">
                        <span class="badge badge-secondary">{{ artigo.dataCadastro|ago }}</span>
                    </span>
                    <h5 class="mt-0">
                        <a href="{{ path('ver_artigo', {'slug': artigo.slug}) }}">
                            {{ artigo.titulo }}
                        </a>
                    </h5>
                    {% autoescape %}
                        {% set Artigo = artigo.conteudo|slice(0,150) ~ '...' %}
                        {{ (false ? Artigo : Artigo)|raw }}
                    {% endautoescape %}
                </div>
            </div>
            <hr>
        {% else %}
            <div class="alert alert-primary" role="alert">
                Nenhum registro encontrado.
            </div>
        {% endfor %}
        <section class="section-01">
            <div class="mt-3">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h3 class="heading-large">Politics</h3>
                        <div class="">
                            <div class="col-lg-6 card">
                                <div class="card">
                                    <img class="img-fluid" src="http://bestjquery.com/tutorial/news-slider/demo19/images/img-1.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel1.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Fim coluna 1 -->
    
    <!-- Inicio coluna 2 -->
    <div class="col-lg-4">
        <div class="card">
            <img src="{{ asset('imagens/artigos/no-image.png') }}" class="card-img-top" alt="..." width="60">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- Fim coluna 2 -->
</div>
{% endblock %}
