{% extends '@Admin/baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block bodyAdmin %}
    <a href="{{ path('user_new') }}" class="btn btn-success btn-sm float-right">Create new</a>
    <h2>User index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">Ver</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
