{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="profile-card">
                    <div class="profile-header">
                        <div class="cover-image">
                            <img src="https://cdn.pixabay.com/photo/2019/10/19/14/16/away-4561518_960_720.jpg" class="img img-fluid">
                        </div>
                        <div class="user-image">
                            {% if app.user.dadosPessoais.sexo == 'Masculino' %}
                                <img src="{{ asset('imagens/users/male.png') }}" class="img">
                            {% else %}
                                <img src="{{ asset('imagens/users/female.png') }}" class="img">
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="profile-name">
                            {{ app.user.dadosPessoais.nome }} {{ app.user.dadosPessoais.sobrenome }}
                        </div>
                        <div class="profile-designation">Webdeveloper</div>
                        <div class="list-group mt-2">
                            <a href="#" class="list-group-item list-group-item-action">Alterar Senha</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title font-weight-bold">Perfil de usuário</p>
                    <hr>
                    <p class="card-description">Informações básicas</p>
                    <ul class="about">
                        <li class="about-items">
                            <i class="fa fa-user"></i>
                            <span class="about-item-name">Name:</span>
                            <span class="about-item-detail">
                                {{ app.user.dadosPessoais.nome }} {{ app.user.dadosPessoais.sobrenome }}
                            </span>
                        </li>
                        <li class="about-items">
                            <i class="fa fa-list-alt"></i>
                            <span class="about-item-name">Bio:</span>
                            <span class="about-item-detail">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto totam, nemo quidem delectus dolores vero porro inventore perferendis minus perspiciatis.
                            </span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-trophy"></i>
                            <span class="about-item-name">Badges:</span>
                            <span class="about-item-detail">
                                <button type="button" class="btn btn-success btn-rounded btn-icon">
                                   <i class="fa fa-star text-white"></i>
                                </button>
                                <button type="button" class="btn btn-info btn-rounded btn-icon">
                                    <i class="fa fa-star text-white"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-rounded btn-icon">
                                    <i class="fa fa-star text-white"></i>
                                </button>
                            </span>
                        </li>
                    </ul>
                    <p class="card-description">Contato</p>
                    <ul class="about">
                        <li class="about-items">
                            <i class="fas fa-phone-square"></i>
                            <span class="about-item-name">Celular:</span>
                            <span class="about-item-detail">+9779861106179</span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-address-card"></i>
                            <span class="about-item-name">Endereço:</span>
                            <span class="about-item-detail">254 National Highway , Hisar India</span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-envelope"></i>
                            <span class="about-item-name">Email:</span>
                            <span class="about-item-detail">
                                <a href="">
                                    {{ app.user.email }}
                                </a>
                            </span>
                        </li>
                        <li class="about-items">
                            <i class="fab fa-facebook-square"></i>
                            <span class="about-item-name">Facebook:</span>
                            <span class="about-item-detail">
                                <a href="google.com">www.google.com</a>
                            </span>
                        </li>
                    </ul>
                    <p class="card-description">Dados Pessoais</p>
                    <ul class="about">
                        <li class="about-items">
                            <i class="fas fa-birthday-cake"></i>
                            <span class="about-item-name">Aniversário:</span>
                            <span class="about-item-detail">
                                {{ app.user.dadosPessoais.dataNascimento|date('d-m-Y') }}
                            </span>
                        </li>
                        <li class="about-items">
                            <i class="fa fa-user"></i>
                            <span class="about-item-name">Sexo:</span>
                            <span class="about-item-detail">
                                {{ app.user.dadosPessoais.sexo }}
                            </span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-user-tie"></i>
                            <span class="about-item-name">Profissão:</span>
                            <span class="about-item-detail">Student</span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-heart"></i>
                            <span class="about-item-name">Blood Group:</span>
                            <span class="about-item-detail">AB+</span>
                        </li>
                        <li class="about-items">
                            <i class="fas fa-heart"></i>
                            <span class="about-item-name">Relacionamento:</span>
                            <span class="about-item-detail">Single</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
